body {
  background-color: #aeaeae !important;
}
h3 {
  text-align: left;
}

form {
  padding-top: 50px;
  padding-right: 300px;
  padding-bottom: 50px;
  padding-left: 300px;
}

.classificaiton-img {
  width: 100px;
  height: 100px;
}

.classificaiton-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center {
  display: block;
  width: 50%;
}

.movie-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.movie-data-container {
  display: flex;
  flex-direction: column;
}
