body {
  background-color: #ddd !important;
}

.page-title {
  background-color: #ccc;
  border: 2px groove #eee;
  font-size: 50px;
  margin: 20px;
  padding: 10px 20px 15px 20px;
  border-radius: 10px;
}

.classificaiton-img {
  width: 100px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.classificaiton-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center {
  display: block;
  width: 50%;
}

.movie-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.movie-data-container {
  display: flex;
  flex-direction: column;
}

.email{
  width: 50%;
}