style {
    display: flex;
    justify-content: center;
    align-items: center;
}

.primary {
    font: optional;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:dimgrey;
}


